<h5>Productos</h5>
<form [formGroup]="form">
  <div class="d-none d-md-flex">
    <table class="table table-light table-bordered">
      <thead>
        <tr>
          <th scope="col">Descripción del producto</th>
          <th scope="col">Precio</th>
          <th scope="col">Disponibilidad</th>
          <th scope="col">Temporada</th>
          <th scope="col">Fotografía de producto</th>
          <th scope="col" style="width: 100px">*</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.description }}</td>
          <td>{{ product.price | currency: "MXN" }}</td>
          <td>{{ product.available }}</td>
          <td>{{ product.season }}</td>
          <td>{{ product.photo }}</td>
          <td>
            <ng-container *ngIf="!isEditMode">
              <button
                class="btn btn-secondary p-1 me-2"
                (click)="loadProductInFields(product.id)"
              >
                <img height="18" src="/assets/icons/edit.png" alt="edit" />
              </button>
              <button
                class="btn btn-secondary p-1"
                (click)="removeProduct(product.id)"
              >
                <img height="18" src="/assets/icons/trash.png" alt="trash" />
              </button>
            </ng-container>
          </td>
        </tr>

        <ng-container *ngIf="showForm">
          <tr>
            <td>
              <input
                type="text"
                class="form-control"
                id="description"
                placeholder="Descripción"
                formControlName="description"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                id="price"
                placeholder="Precio"
                formControlName="price"
                [class.is-invalid]="f['price'].invalid && f['price'].touched"
              />
            </td>
            <td>
              <select class="form-select" formControlName="available">
                <option selected>Click para seleccionar</option>
                <option value="Permanente">Permanente</option>
                <option value="De temporada">De temporada</option>
                <option value="Días festivos">Días festivos</option>
              </select>
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                id="season"
                placeholder="Temporada"
                formControlName="season"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                id="photo"
                placeholder="https://..."
                formControlName="photo"
              />
            </td>
            <td></td>
          </tr>
          <tr>
            <td colspan="6">
              <button
                *ngIf="!isEditMode"
                class="btn btn-primary me-2"
                (click)="addProduct()"
                [disabled]="!validForm"
              >
                Guardar
              </button>
              <ng-container *ngIf="isEditMode">
                <button
                  class="btn btn-primary me-2"
                  (click)="editProduct()"
                  [disabled]="!validForm"
                >
                  Editar
                </button>
                <button class="btn btn-secondary" (click)="cancelEdit()">
                  Cancelar
                </button>
              </ng-container>
            </td>
          </tr>
        </ng-container>

        <tr *ngIf="!showForm">
          <td colspan="6">
            <button class="btn btn-primary" (click)="showFormOnTable()">
              Agregar producto
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex d-md-none">
    <table class="table table-light table-bordered">
      <tbody>
        <ng-container *ngFor="let product of products">
          <tr>
            <td>{{ product.description }}</td>
          </tr>
          <tr>
            <td>{{ product.price | currency: "MXN" }}</td>
          </tr>
          <tr>
            <td>{{ product.available }}</td>
          </tr>
          <tr>
            <td>{{ product.season }}</td>
          </tr>
          <tr>
            <td>{{ product.photo }}</td>
          </tr>
          <tr>
            <td>
              <ng-container *ngIf="!isEditMode">
                <button
                  class="btn btn-secondary p-1 me-2"
                  (click)="loadProductInFields(product.id)"
                >
                  <img height="18" src="/assets/icons/edit.png" alt="edit" />
                </button>
                <button
                  class="btn btn-secondary p-1"
                  (click)="removeProduct(product.id)"
                >
                  <img height="18" src="/assets/icons/trash.png" alt="trash" />
                </button>
              </ng-container>
            </td>
          </tr>
          <tr style="height: 10px" class="bg-gray"></tr>
        </ng-container>
        <ng-container *ngIf="showForm">
          <tr>
            <td>
              <input
                type="text"
                class="form-control"
                id="description"
                placeholder="Descripción"
                formControlName="description"
              />
            </td>
          </tr>
          <tr>
            <td>
              <input
                type="text"
                class="form-control"
                id="price"
                placeholder="Precio"
                formControlName="price"
                [class.is-invalid]="f['price'].invalid && f['price'].touched"
              />
            </td>
          </tr>
          <tr>
            <td>
              <select
                class="form-select"
                aria-label="Selecciona, ¿En cuáles de los siguientes temas te gustaría
                    fortalecerte como organización?"
                formControlName="available"
              >
                <option selected>Click para seleccionar</option>
                <option value="Permanente">Permanente</option>
                <option value="De temporada">De temporada</option>
                <option value="Días festivos">Días festivos</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <input
                type="text"
                class="form-control"
                id="season"
                placeholder="Temporada"
                formControlName="season"
              />
            </td>
          </tr>
          <tr>
            <td>
              <input
                type="text"
                class="form-control"
                id="photo"
                placeholder="https://..."
                formControlName="photo"
              />
            </td>
          </tr>
          <tr>
            <td>
              <button
                *ngIf="!isEditMode"
                class="btn btn-primary me-2"
                (click)="addProduct()"
                [disabled]="!validForm"
              >
                Guardar
              </button>
              <ng-container *ngIf="isEditMode">
                <button
                  class="btn btn-primary me-2"
                  (click)="editProduct()"
                  [disabled]="!validForm"
                >
                  Editar
                </button>
                <button class="btn btn-secondary" (click)="cancelEdit()">
                  Cancelar
                </button>
              </ng-container>
            </td>
          </tr>
        </ng-container>
        <tr *ngIf="!showForm">
          <td colspan="6">
            <button class="btn btn-primary" (click)="showFormOnTable()">
              Agregar producto
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
