<h2 class="mb-3">Datos generales del proyecto</h2>
<div class="row" [formGroup]="form">
  <div class="col-12 col-md-6">
    <div class="mb-3">
      <label for="projectName" class="form-label">Nombre del proyecto</label>
      <input
        type="text"
        class="form-control"
        id="projectName"
        placeholder="Nombre del proyecto"
        formControlName="projectName"
        [class.is-invalid]="
          f['projectName'].invalid && f['projectName'].touched
        " />
      <app-form-error [control]="f['projectName']"></app-form-error>
    </div>
  </div>
</div>
