<div class="bg-bright-gray border border-secondary rounded p-3 mb-4">
  <app-governing-body
    [updateParentModel]="updateData"
    [defaultValues]="{
      meetings: formData.meetings,
      renewalFrequency: formData.renewalFrequency,
      members: formData.members
    }"></app-governing-body>
  <hr />
  <app-remuneration-form
    [updateParentModel]="updateData"
    [defaultValues]="{
      remunerationQuestion: formData.remunerationQuestion
    }"></app-remuneration-form>
  <hr />
  <app-general-data-form
    [updateParentModel]="updateData"
    [defaultValues]="{
      projectName: formData.projectName,
      category: formData.category
    }"></app-general-data-form>
  <hr />
  <app-location-form
    [updateParentModel]="updateData"
    [defaultValues]="{
      locationQuestion: formData.locationQuestion,
      street: formData.street,
      colony: formData.colony,
      town: formData.town,
      state: formData.state,
      postalCode: formData.postalCode,
      video: formData.video,
      daysAndHours: formData.daysAndHours,
      aboutCall: formData.aboutCall,
      whichMedia: formData.whichMedia
    }"></app-location-form>
  <hr />
  <app-project-manager-form
    [updateParentModel]="updateData"
    [defaultValues]="{
      responsibleName: formData.responsibleName,
      emails: formData.emails,
      phone: formData.phone
    }"></app-project-manager-form>
  <hr />
  <app-project-development-form
    [updateParentModel]="updateData"
    [defaultValues]="{
      whichProblem: formData.whichProblem,
      generalObjective: formData.generalObjective,
      numberOfBeneficiaries: formData.numberOfBeneficiaries,
      collaborationWithOtherOrganizations:
        formData.collaborationWithOtherOrganizations,
      collaboratorsAnswer: formData.collaboratorsAnswer,
      populationsConditionsBefore: formData.populationsConditionsBefore,
      populationsConditionsAfter: formData.populationsConditionsAfter,
      promoteSocialImprovement: formData.promoteSocialImprovement
    }"></app-project-development-form>
  <hr />
  <app-period-form
    [updateParentModel]="updateData"
    [defaultValues]="{
      startDate: formData.startDate,
      endDate: formData.endDate
    }"></app-period-form>

  <button
    *ngIf="(infoSaved$ | async) === false"
    class="btn btn-primary"
    type="button"
    [disabled]="isInvalidForm"
    (click)="save()">
    Enviar
  </button>
</div>
