<div class="bg-bright-gray border border-secondary rounded p-3 mb-4">
  <app-governing-body
    [updateParentModel]="updateData"
    [defaultValues]="{
      meetings: formData.meetings,
      renewalFrequency: formData.renewalFrequency,
      members: formData.members
    }"></app-governing-body>
  <hr />
  <app-remuneration-form
    [updateParentModel]="updateData"
    [defaultValues]="{
      remunerationQuestion: formData.remunerationQuestion
    }"></app-remuneration-form>
  <hr />
  <app-general-data-form
    [updateParentModel]="updateData"
    [defaultValues]="{
      projectName: formData.projectName,
      category: formData.category
    }"></app-general-data-form>
  <hr />
  <app-location-form
    [updateParentModel]="updateData"
    [defaultValues]="{
      locationQuestion: formData.locationQuestion,
      street: formData.street,
      colony: formData.colony,
      town: formData.town,
      state: formData.state,
      postalCode: formData.postalCode,
      video: formData.video,
      daysAndHours: formData.daysAndHours,
      aboutCall: formData.aboutCall,
      whichMedia: formData.whichMedia
    }"></app-location-form>
  <hr />
  <app-project-manager-form
    [updateParentModel]="updateData"
    [defaultValues]="{
      responsibleName: formData.responsibleName,
      emails: formData.emails,
      phone: formData.phone
    }"></app-project-manager-form>
  <hr />
  <app-project-development-form
    [updateParentModel]="updateData"
    [defaultValues]="{
      whichProblem: formData.whichProblem,
      generalObjective: formData.generalObjective,
      numberOfBeneficiaries: formData.numberOfBeneficiaries,
      collaborationWithOtherOrganizations:
        formData.collaborationWithOtherOrganizations,
      collaboratorsAnswer: formData.collaboratorsAnswer,
      populationsConditionsBefore: formData.populationsConditionsBefore,
      populationsConditionsAfter: formData.populationsConditionsAfter,
      promoteSocialImprovement: formData.promoteSocialImprovement
    }"></app-project-development-form>
  <hr />
  <app-period-form
    [updateParentModel]="updateData"
    [defaultValues]="{
      startDate: formData.startDate,
      endDate: formData.endDate
    }"></app-period-form>
  <hr />
  <app-objectives-form
    [updateParentModel]="updateData"
    [defaultValues]="{
      objectives: formData.objectives,
      povertyEnd: formData.povertyEnd,
      zeroHunger: formData.zeroHunger,
      healthAndWellness: formData.healthAndWellness,
      qualityEducation: formData.qualityEducation,
      genderEquality: formData.genderEquality,
      cleanWater: formData.cleanWater,
      affordableEnergy: formData.affordableEnergy,
      decentWork: formData.decentWork,
      industry: formData.industry,
      reducingInequalities: formData.reducingInequalities,
      cities: formData.cities,
      production: formData.production,
      climateAction: formData.climateAction,
      underwaterLife: formData.underwaterLife,
      terrestrialEcosystemLife: formData.terrestrialEcosystemLife,
      peace: formData.peace,
      alliances: formData.alliances
    }"></app-objectives-form>
  <hr />
  <app-project-budget-form
    [updateParentModel]="updateData"
    [defaultValues]="{
      contributions: formData.contributions,
      conversions: formData.conversions
    }"></app-project-budget-form>
  <hr />
  <ng-container *ngIf="formData.category">
    <app-rating-form
      [updateParentModel]="updateData"
      [defaultValues]="{
        livingConditions: formData.livingConditions,
        lifeQuality: formData.lifeQuality,
        capacityBuilding: formData.capacityBuilding,
        supportType: formData.supportType,
        supportScope: formData.supportScope,
        resilienceBuilding: formData.resilienceBuilding,
        socialBackwardness: formData.socialBackwardness,
        communitySense: formData.communitySense,
        sustainabilityProcesses: formData.sustainabilityProcesses,
        statusImprovement: formData.statusImprovement,
        urbanDevelopment: formData.urbanDevelopment,
        professionalizationProcess: formData.professionalizationProcess,
        opportunityGeneration: formData.opportunityGeneration
      }"
      [category]="formData.category"></app-rating-form>
    <hr />
  </ng-container>
  <app-communication-form
    [updateParentModel]="updateData"
    [defaultValues]="{
      facebook: formData.facebook,
      instagram: formData.instagram,
      linkedin: formData.linkedin,
      twitter: formData.twitter,
      tiktok: formData.tiktok,
      youtube: formData.youtube
    }"></app-communication-form>
  <hr />
  <app-documents-form
    [updateParentModel]="updateData"
    [defaultValues]="{
      ethicalCode: formData.ethicalCode,
      governanceManual: formData.governanceManual,
      timelineActivities: formData.timelineActivities,
      workWithMinors: formData.workWithMinors,
      officialLetterOfAuthorizationOfDonees:
        formData.officialLetterOfAuthorizationOfDonees,
      updatedCertificate: formData.updatedCertificate,
      publicationInAnnex14OfTheCurrentRMF:
        formData.publicationInAnnex14OfTheCurrentRMF,
      constituentAct: formData.constituentAct,
      mostRecentMeeting: formData.mostRecentMeeting,
      legalRepresentativesPower: formData.legalRepresentativesPower,
      legalRepresentativesId: formData.legalRepresentativesId,
      documentRFC: formData.documentRFC,
      oldProofOfAddress: formData.oldProofOfAddress,
      updatedComplianceOpinion: formData.updatedComplianceOpinion,
      proofOfUpdatedTaxSituation: formData.proofOfUpdatedTaxSituation,
      logo: formData.logo
    }"></app-documents-form>

  <button
    *ngIf="(infoSaved$ | async) === false"
    class="btn btn-primary"
    type="button"
    [disabled]="isInvalidForm"
    (click)="save()">
    Enviar
  </button>
</div>
