<ng-container *ngIf="hideForm$ | async">
  <p>
    <ngb-alert [dismissible]="false">
      Favor de completar la sección de
      <a routerLink="/home">información de organización</a> para poder iniciar
      con la aplicación a la convocatoria
    </ngb-alert>
  </p>
</ng-container>
<ng-container *ngIf="validateIfFormDataIsEmpty && formData.status !== 5">
  <div class="bg-bright-gray border border-secondary rounded p-3 mb-4">
    <app-general-project-data-form
      [updateParentModel]="updateData"
      [defaultValues]="
        formData.generalProjectData
      "></app-general-project-data-form>
    <hr />

    <app-location-form
      [updateParentModel]="updateData"
      [defaultValues]="formData.location"></app-location-form>
    <hr />

    <app-project-manager-form
      [updateParentModel]="updateData"
      [defaultValues]="formData.projectManager"></app-project-manager-form>
    <hr />

    <app-project-development-form
      [updateParentModel]="updateData"
      [defaultValues]="
        formData.projectDevelopment
      "></app-project-development-form>
    <hr />

    <app-period-form
      [updateParentModel]="updateData"
      [defaultValues]="formData.period"></app-period-form>
    <hr />

    <app-objectives-form
      [updateParentModel]="updateData"
      [defaultValues]="formData.objectives"></app-objectives-form>
    <hr />

    <app-project-budget-form
      [updateParentModel]="updateData"
      [defaultValues]="formData.projectBudget"></app-project-budget-form>
    <hr />

    <ng-container *ngIf="formData.generalProjectData.category">
      <app-rating-form
        [updateParentModel]="updateData"
        [defaultValues]="formData.rating"
        [category]="formData.generalProjectData.category!"></app-rating-form>
      <hr />
    </ng-container>

    <app-communication-form
      [updateParentModel]="updateData"
      [defaultValues]="formData.communication"></app-communication-form>
    <hr />

    <app-documents-form
      [updateParentModel]="updateData"
      [defaultValues]="formData.documents"></app-documents-form>

    <ng-container *ngIf="(infoSaved$ | async) === false">
      <button
        class="btn btn-outline-primary me-3"
        type="button"
        (click)="save()">
        Guardar borrador
      </button>

      <button
        class="btn btn-primary"
        type="button"
        [disabled]="isInvalidForm"
        (click)="open(modal)">
        Enviar
      </button>
    </ng-container>
  </div>
</ng-container>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmación</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    Una vez enviada la solicitud, los datos registrados no podrán ser
    modificados. Verifique que la información registrada es correcta
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary me-2" (click)="modal.close()">
      Cancelar
    </button>

    <button
      class="btn btn-primary"
      (click)="modal.close(); save(infoSubmitted, true)">
      Aceptar
    </button>
  </div>
</ng-template>

<ng-template #infoSubmitted let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Información enviada</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <ng-container *ngIf="infoSubmitted$ | async; else error">
      Solicitud enviada correctamente
    </ng-container>
    <ng-template #error>
      No es posible enviar la solicitud en este momento, intentelo mas tarde
    </ng-template>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="modal.close()">Aceptar</button>
  </div>
</ng-template>
