<ng-container *ngIf="hideForm$ | async">
  <p>
    <ngb-alert [dismissible]="false">
      Favor de completar la sección de
      <a routerLink="/home">información de organización</a> para poder iniciar
      con la aplicación a la convocatoria
    </ngb-alert>
  </p>
</ng-container>
<ng-container *ngIf="validateIfFormDataIsEmpty">
  <div class="bg-bright-gray border border-secondary rounded p-3 mb-4">
    <app-general-project-data-form
      [updateParentModel]="updateData"
      [defaultValues]="
        formData.generalProjectData
      "></app-general-project-data-form>
    <hr />

    <app-location-form
      [updateParentModel]="updateData"
      [defaultValues]="formData.location"></app-location-form>
    <hr />

    <app-project-manager-form
      [updateParentModel]="updateData"
      [defaultValues]="formData.projectManager"></app-project-manager-form>
    <hr />

    <app-project-development-form
      [updateParentModel]="updateData"
      [defaultValues]="
        formData.projectDevelopment
      "></app-project-development-form>
    <hr />

    <app-period-form
      [updateParentModel]="updateData"
      [defaultValues]="formData.period"></app-period-form>
    <hr />

    <app-objectives-form
      [updateParentModel]="updateData"
      [defaultValues]="formData.objectives"></app-objectives-form>
    <hr />

    <app-project-budget-form
      [updateParentModel]="updateData"
      [defaultValues]="formData.projectBudget"></app-project-budget-form>
    <hr />

    <!--  <h2 *ngIf="f['category'].value" class="mb-3">
        Con la implementación del proyecto, ¿Cual consideras que será el
        beneficio para la comunidad en...
      </h2>
      <ng-container *ngFor="let rate of rating">
        <ng-container *ngIf="groups.includes(rate.group)">
          <div class="border p-2 mb-3">
            <h6>
              {{ rate.title }}
            </h6>
            <div class="row">
              <ng-container *ngFor="let item of rate.items">
                <div class="col-md-1 my-3">
                  <div class="d-flex flex-column align-items-center">
                    <label class="form-check-label" [for]="rate.group">{{
                      item
                    }}</label>
                    <input
                      class="form-check-input"
                      type="radio"
                      [name]="rate.group"
                      [id]="rate.group"
                      [value]="'0' + item"
                      [formControlName]="rate.group" />
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <h2 class="mb-3">Comunicación</h2>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="mb-3">
            <label for="facebook" class="form-label">Facebook</label>
            <input
              type="text"
              class="form-control"
              id="facebook"
              placeholder="https://..."
              formControlName="facebook"
              [class.is-invalid]="
                f['facebook'].invalid && f['facebook'].touched
              " />
            <app-form-error
              [control]="f['facebook']"
              [errors]="{ pattern: 'Url no válida' }"></app-form-error>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="mb-3">
            <label for="instagram" class="form-label">Instagram</label>
            <input
              type="text"
              class="form-control"
              id="instagram"
              placeholder="https://..."
              formControlName="instagram"
              [class.is-invalid]="
                f['instagram'].invalid && f['instagram'].touched
              " />
            <app-form-error
              [control]="f['instagram']"
              [errors]="{ pattern: 'Url no válida' }"></app-form-error>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="mb-3">
            <label for="linkedin" class="form-label">LinkedIn</label>
            <input
              type="text"
              class="form-control"
              id="linkedin"
              placeholder="https://..."
              formControlName="linkedin"
              [class.is-invalid]="
                f['linkedin'].invalid && f['linkedin'].touched
              " />
            <app-form-error
              [control]="f['linkedin']"
              [errors]="{ pattern: 'Url no válida' }"></app-form-error>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="mb-3">
            <label for="twitter" class="form-label">Twitter</label>
            <input
              type="text"
              class="form-control"
              id="twitter"
              placeholder="https://..."
              formControlName="twitter"
              [class.is-invalid]="
                f['twitter'].invalid && f['twitter'].touched
              " />
            <app-form-error
              [control]="f['twitter']"
              [errors]="{ pattern: 'Url no válida' }"></app-form-error>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="mb-3">
            <label for="tiktok" class="form-label">Tik Tok</label>
            <input
              type="text"
              class="form-control"
              id="tiktok"
              placeholder="https://..."
              formControlName="tiktok"
              [class.is-invalid]="f['tiktok'].invalid && f['tiktok'].touched" />
            <app-form-error
              [control]="f['tiktok']"
              [errors]="{ pattern: 'Url no válida' }"></app-form-error>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="mb-3">
            <label for="youtube" class="form-label">Youtube</label>
            <input
              type="text"
              class="form-control"
              id="youtube"
              placeholder="https://..."
              formControlName="youtube"
              [class.is-invalid]="
                f['youtube'].invalid && f['youtube'].touched
              " />
            <app-form-error
              [control]="f['youtube']"
              [errors]="{ pattern: 'Url no válida' }"></app-form-error>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="mb-3">
            <label for="webpage" class="form-label">Página web</label>
            <input
              type="text"
              class="form-control"
              id="webpage"
              placeholder="https://..."
              formControlName="webpage" />
          </div>
        </div>
      </div>
      <hr />

      <h2 class="mb-3">Documentos</h2>
      <div class="row">
        <ng-container *ngFor="let doc of documentsFields">
          <div class="col-md-12">
            <div class="mb-3">
              <label class="form-label" [for]="doc.field">{{ doc.name }}</label>
              <ng-container *ngIf="!f[doc.field].value">
                <input
                  class="form-control"
                  type="file"
                  [id]="doc.field"
                  (change)="uploadDocument($event, doc.field)"
                  accept="application/pdf"
                  [class.is-invalid]="
                    f[doc.field].invalid && f[doc.field].touched
                  "
                  [disabled]="infoSaved$ | async" />
              </ng-container>
              <ng-container *ngIf="f[doc.field].value">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    [id]="doc.field"
                    placeholder="https://..."
                    [formControlName]="doc.field"
                    readonly />
                  <button
                    class="btn btn-secondary p-1"
                    (click)="f[doc.field].setValue('')"
                    [disabled]="infoSaved$ | async">
                    <img
                      height="18"
                      src="/assets/icons/trash.png"
                      alt="trash" />
                  </button>
                </div>
              </ng-container>
              <app-form-error [control]="f[doc.field]"></app-form-error>
              <div class="small">- {{ doc.help }}</div>
            </div>
            <hr />
          </div>
        </ng-container>
        <div class="col-md-12">
          <div class="mb-3">
            <label class="form-label" for="logo">Logotipo</label>
            <ng-container *ngIf="!f['logo'].value">
              <input
                class="form-control"
                type="file"
                id="logo"
                (change)="uploadDocument($event, 'logo', true)"
                accept="image/png, application/pdf"
                [class.is-invalid]="f['logo'].invalid && f['logo'].touched" />
            </ng-container>
            <ng-container *ngIf="f['logo'].value">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  id="logo"
                  placeholder="https://..."
                  formControlName="logo"
                  readonly />
                <button
                  class="btn btn-secondary p-1"
                  (click)="f['logo'].setValue('')">
                  <img height="18" src="/assets/icons/trash.png" alt="trash" />
                </button>
              </div>
            </ng-container>
            <app-form-error [control]="f['logo']"></app-form-error>
            <div class="small">
              - Sube el archivo en vectores ya sea en .ai, .pdf o .svg de tu
              logotipo. Si no tienes tu logotipo en vectores, sube un archivo
              .png con transparencia. Si no cuentas con estos, sube tu logotipo
              en .jpg
            </div>
          </div>
          <hr />
        </div>
        <div class="col-12">
          <div class="form-check mb-3">
            <input
              class="form-check-input"
              type="radio"
              name="subscribe"
              id="subscribe1"
              value="Quiero darme de alta en la lista de difusión de Fundación DEACERO por correo y WhatsApp."
              formControlName="subscribe" />
            <label class="form-check-label" for="subscribe1">
              Quiero darme de alta en la lista de difusión de Fundación DEACERO
              por correo y WhatsApp.
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="subscribe"
              id="subscribe2"
              value="Quiero darme de alta en la lista de difusión de Fundación DEACERO sólo por correo."
              formControlName="subscribe" />
            <label class="form-check-label" for="subscribe2">
              Quiero darme de alta en la lista de difusión de Fundación DEACERO
              sólo por correo.
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="subscribe"
              id="subscribe3"
              value="No quiero darme de alta en la lista de difusión."
              formControlName="subscribe" />
            <label class="form-check-label" for="subscribe3">
              No quiero darme de alta en la lista de difusión.
            </label>
          </div>
        </div>
      </div> -->

    <ng-container *ngIf="(infoSaved$ | async) === false">
      <button
        class="btn btn-outline-primary me-3"
        type="button"
        (click)="save()">
        Guardar borrador
      </button>

      <button
        class="btn btn-primary"
        type="button"
        [disabled]="isInvalidForm"
        (click)="open(modal)">
        Enviar
      </button>
    </ng-container>
  </div>
</ng-container>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmación</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    Una vez enviada la solicitud, los datos registrados no podrán ser
    modificados. Verifique que la información registrada es correcta
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary me-2" (click)="modal.close()">
      Cancelar
    </button>

    <button
      class="btn btn-primary"
      (click)="modal.close(); save(infoSubmitted, true)">
      Aceptar
    </button>
  </div>
</ng-template>

<ng-template #infoSubmitted let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Información enviada</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <ng-container *ngIf="infoSubmitted$ | async; else error">
      Solicitud enviada correctamente
    </ng-container>
    <ng-template #error>
      No es posible enviar la solicitud en este momento, intentelo mas tarde
    </ng-template>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="modal.close()">Aceptar</button>
  </div>
</ng-template>
