<h2 class="mb-3">
  Con la implementación del proyecto, ¿Cual consideras que será el beneficio
  para la comunidad en...
</h2>

<div [formGroup]="form">
  <ng-container *ngFor="let rate of rating">
    <ng-container *ngIf="groups.includes(rate.group)">
      <div class="border p-2 mb-3">
        <h6>
          {{ rate.title }}
        </h6>
        <div class="row">
          <ng-container *ngFor="let item of rate.items">
            <div class="col-md-1 my-3">
              <div class="d-flex flex-column align-items-center">
                <label class="form-check-label" [for]="rate.group">{{
                  item
                }}</label>
                <input
                  class="form-check-input"
                  type="radio"
                  [name]="rate.group"
                  [id]="rate.group"
                  [value]="'0' + item"
                  [formControlName]="rate.group" />
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
