<button type="button" class="btn btn-link" (click)="showModal = true">
  Recuperar contraseña
</button>
<app-modal
  title="Recuperar contraseña"
  *ngIf="showModal"
  (close)="showModal = false"
>
  <div class="modal-body" content>
    <form>
      <div class="mb-3">
        <label for="user" class="form-label">Correo</label>
        <input
          type="email"
          class="form-control"
          id="user"
          placeholder="Correo"
          formControlName="username"
        />
        <div id="user" class="invalid-feedback">Correo no valido</div>
      </div>
      <p class="text-start">
        En caso de no contar con acceso a la cuenta de correo electrónico
        previamente brindada o solicitar cambio de cuenta de correo, favor de
        escribir a contacto@fundaciondeacero.org
      </p>
    </form>
  </div>
</app-modal>
