<button type="button" class="btn btn-link" (click)="showModal = true">
  Recuperar contraseña
</button>
<app-modal
  title="Recuperar contraseña"
  [show]="showModal"
  (close)="close()"
  (confirm)="confirm()"
  acceptLabel="Enviar"
>
  <div class="modal-body" content>
    <form [formGroup]="form">
      <div class="mb-3">
        <label for="email" class="form-label">Correo</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Correo"
          formControlName="email"
          [class.is-invalid]="f['email'].invalid && f['email'].touched"
        />
        <div
          class="invalid-feedback"
          *ngIf="f['email'].invalid && f['email'].touched"
        >
          Correo no valido
        </div>
      </div>
      <p class="text-start">
        En caso de no contar con acceso a la cuenta de correo electrónico
        previamente brindada o solicitar cambio de cuenta de correo, favor de
        escribir a contacto@fundaciondeacero.org
      </p>
    </form>
  </div>
</app-modal>
