<label for="daysAndHours" class="form-label">Días y horas de atención</label>
<div class="d-none d-md-flex">
  <table class="table table-light table-bordered">
    <thead>
      <tr>
        <th scope="col">Dia</th>
        <th scope="col">Hora entrada</th>
        <th scope="col">Hora salida</th>
        <th scope="col" style="width: 100px">*</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let record of records">
        <td>{{ record.day }}</td>
        <td>{{ record.entryTime }}</td>
        <td>{{ record.departureTime }}</td>
        <td>
          <ng-container *ngIf="!isEditMode && !readOnly">
            <button
              class="btn btn-secondary p-1 me-2"
              (click)="loadRecordInFields(record.id, modal)">
              <img height="18" src="/assets/icons/edit.png" alt="edit" />
            </button>
            <button
              class="btn btn-secondary p-1"
              (click)="removeRecord(record.id)">
              <img height="18" src="/assets/icons/trash.png" alt="trash" />
            </button>
          </ng-container>
        </td>
      </tr>
      <tr *ngIf="!readOnly && !isMaximumRecords">
        <td colspan="6">
          <button class="btn btn-primary" (click)="open(modal)">
            Agregar registro
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="d-flex d-md-none">
  <table class="table table-light table-bordered">
    <tbody>
      <ng-container *ngFor="let record of records">
        <tr>
          <td>{{ record.day }}</td>
        </tr>
        <tr>
          <td>{{ record.entryTime }}</td>
        </tr>
        <tr>
          <td>{{ record.departureTime }}</td>
        </tr>
        <tr>
          <td>
            <ng-container *ngIf="!isEditMode && !readOnly">
              <button
                class="btn btn-secondary p-1 me-2"
                (click)="loadRecordInFields(record.id, modal)">
                <img height="18" src="/assets/icons/edit.png" alt="edit" />
              </button>
              <button
                class="btn btn-secondary p-1"
                (click)="removeRecord(record.id)">
                <img height="18" src="/assets/icons/trash.png" alt="trash" />
              </button>
            </ng-container>
          </td>
        </tr>
        <tr style="height: 10px" class="bg-gray"></tr>
      </ng-container>
      <tr *ngIf="!readOnly && !isMaximumRecords">
        <td colspan="6">
          <button class="btn btn-primary" (click)="open(modal)">
            Agregar registro
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Registro</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" class="px-4">
      <div class="col-12 mb-4">
        <label class="form-label" for="day">Día</label>
        <select
          class="form-select"
          formControlName="day"
          id="day"
          [class.is-invalid]="f['day'].invalid && f['day'].touched">
          <option selected value="">Click para seleccionar</option>
          <option value="Lunes">Lunes</option>
          <option value="Martes">Martes</option>
          <option value="Miercoles">Miercoles</option>
          <option value="Jueves">Jueves</option>
          <option value="Viernes">Viernes</option>
          <option value="Sabado">Sabado</option>
          <option value="Domingo">Domingo</option>
        </select>
        <app-form-error [control]="f['day']"></app-form-error>
      </div>
      <div class="col-12 mb-4">
        <label class="form-label" for="entryTime">Hora entrada</label>
        <select
          class="form-select"
          formControlName="entryTime"
          id="entryTime"
          [class.is-invalid]="f['entryTime'].invalid && f['entryTime'].touched">
          <option selected value="">Click para seleccionar</option>
          <option *ngFor="let hour of hours" [value]="hour.value">
            {{ hour.label }}
          </option>
        </select>
        <app-form-error [control]="f['entryTime']"></app-form-error>
      </div>
      <div class="col-12 mb-4">
        <label class="form-label" for="departureTime">Hora salida</label>
        <select
          class="form-select"
          formControlName="departureTime"
          id="departureTime"
          [class.is-invalid]="
            f['departureTime'].invalid && f['departureTime'].touched
          ">
          <option selected value="">Click para seleccionar</option>
          <option *ngFor="let hour of hours" [value]="hour.value">
            {{ hour.label }}
          </option>
        </select>
        <app-form-error [control]="f['departureTime']"></app-form-error>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-secondary me-2"
      (click)="cancelEdit(); modal.close()">
      Cancelar
    </button>
    <ng-container *ngIf="isEditMode; else save">
      <button
        class="btn btn-primary"
        (click)="editRecord(); modal.close()"
        [disabled]="form.invalid">
        Editar
      </button>
    </ng-container>
    <ng-template #save>
      <button
        *ngIf="!isEditMode"
        class="btn btn-primary"
        (click)="addRecord(); modal.close()"
        [disabled]="form.invalid">
        Guardar
      </button>
    </ng-template>
  </div>
</ng-template>
