<div
  [ngClass]="{
    'bg-bright-gray border border-secondary rounded p-3 mb-4': !loading
  }">
  <app-alert
    [(show)]="showAlert"
    [type]="alertType"
    [message]="alertMessage"
    [dismissible]="true"></app-alert>
  <ng-container *ngIf="!loading">
    <app-general-data-form
      [updateParentModel]="updateData"
      [disable]="(infoSaved$ | async)!"
      [defaultValues]="formData.generalData"
      [allowComment]="false"></app-general-data-form>
    <hr />
    <app-fund-manager-form
      [updateParentModel]="updateData"
      [disable]="(infoSaved$ | async)!"
      [defaultValues]="formData.fundManager"
      [allowComment]="false"></app-fund-manager-form>
    <hr />
    <app-organizational-information-form
      [updateParentModel]="updateData"
      [disable]="(infoSaved$ | async)!"
      [defaultValues]="formData.organizationalInformation"
      [allowComment]="false"></app-organizational-information-form>
    <hr />
    <app-strategic-alliances-form
      [updateParentModel]="updateData"
      [disable]="(infoSaved$ | async)!"
      [defaultValues]="formData.strategicAlliances"
      [allowComment]="false"></app-strategic-alliances-form>
    <hr />
    <app-decent-work-form
      [updateParentModel]="updateData"
      [disable]="(infoSaved$ | async)!"
      [defaultValues]="formData.decentWork"
      [allowComment]="false"></app-decent-work-form>
    <hr />
    <app-governing-body
      [updateParentModel]="updateData"
      [disable]="(infoSaved$ | async)!"
      [defaultValues]="formData.governingBody"
      [allowComment]="false"></app-governing-body>
    <hr />
    <app-remuneration-form
      [updateParentModel]="updateData"
      [disable]="(infoSaved$ | async)!"
      [defaultValues]="formData.remuneration"
      [allowComment]="false"></app-remuneration-form>

    <button
      class="btn btn-primary"
      type="button"
      [disabled]="isInvalidForm || (infoSaved$ | async)"
      (click)="update()">
      Guardar
    </button>
  </ng-container>
</div>
