<div
  class="modal fade"
  id="myModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="mainModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mainModal">{{ title }}</h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          *ngIf="closable"
          (click)="close.emit()"
        ></button>
      </div>
      <ng-content selector="content"> </ng-content>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="close.emit()"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="confirm.emit()"
        >
          {{ acceptLabel }}
        </button>
      </div>
    </div>
  </div>
</div>
