<div class="container">
  <div class="d-flex flex-column align-items-center">
    <img
      class="img-fluid center-block my-3"
      style="max-width: 378px"
      src="/assets/img/fundacion.png"
      alt="fundacion"
    />
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="bg-bright-gray border border-secondary rounded p-3 mb-4">
        <h3 class="mb-3 text-center text-independence">
          Bases para la convocatoria
        </h3>
        <hr
          class="bg-independence border-1 border-top border-independence w-100"
        />
        <h4 class="text-center text-independence">
          Convocatoria para otorgamiento de donativos JULIO 2022
        </h4>
        <p>
          Querida organización de la sociedad civil: Te invitamos a participar
          en la Convocatoria Julio 2022 de Fundación DEACERO para recibir
          donativos deducibles. De antemano, agradecemos tu interés por
          considerar a Fundación DEACERO como un aliado para el cumplimiento de
          tu misión y con ello, construir un mejor México entre todas y todos.
          Antes de explicar las bases, necesitamos aclarar que participar en la
          Convocatoria de Julio 2022, no genera derechos para las organizaciones
          de la sociedad civil (OSC JULIO 2022
        </p>
        <p>Duración: del 1 al 5 de Julio</p>
        <h5>Requisitos del proyecto:</h5>
        <dl>
          <li>
            Cuentas con un diagnóstico de la comunidad con la que quieres
            participar, ya que se analizará durante el proceso para dictaminar
            de elegibilidad.
          </li>
          <li>
            Autorizas el uso de tu logotipo y/o razón social para ser utilizado
            por Fundación DEACERO durante el proceso de la convocatoria y
            documentos relacionados.
          </li>
          <li>
            Realizarás la rendición de cuentas en un lapso de entre 6 meses a 3
            años, a partir de haber recibido el donativo.
          </li>
          <li>
            Cuentas con la rendición de cuentas aprobada del último donativo que
            Fundación DEACERO te haya autorizado (si aplica).
          </li>
          <li>
            Implementarás el proyecto en un radio de máximo 10 kilómetros
            alrededor de alguna ubicación física de Grupo DEACERO, por ejemplo:
            una acería, un centro de distribución, entre otros.
            http://www.fundaciondeacero.org/files/convocatoria_julio2022_fd.pdf
          </li>
          <li>
            Si es tu primera vez solicitando fondos con Fundación DEACERO, el
            monto máximo a autorizar será de $100,000.00 pesos.
          </li>
          <li>
            Reconoces como válida la firma digital de documentos durante el
            proceso de convocatoria.
          </li>
        </dl>
        <strong
          >* Fundación Deacero A.C. otorga donativos económicos una vez al año
          por Organización</strong
        >
        <p class="mt-2">
          Al dar click en el siguiente botón, aceptas cumplir con lo anterior
        </p>
        <form [formGroup]="callForm">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="acceptTerms"
              formControlName="acceptTerms"
            />
            <label class="form-check-label" for="acceptTerms">
              He leido
              <a
                href="https://www.fundaciondeacero.org/terminos.html"
                target="_blank"
                rel="noopener noreferrer"
                >Términos y condiciones</a
              >, tambien estoy de acuerdo con el
              <a
                href="https://www.fundaciondeacero.org/privacidad/"
                target="_blank"
                rel="noopener noreferrer"
                >Aviso de Privacidad</a
              >.
            </label>
          </div>
          <div class="d-flex justify-content-center">
            <button
              type="button"
              class="btn btn-primary mt-3"
              routerLink="/auth/sign-up"
              [disabled]="callForm.invalid"
            >
              Aceptar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
