<div class="container">
  <div class="d-flex flex-column align-items-center">
    <img
      class="img-fluid center-block my-3"
      style="max-width: 378px"
      src="/assets/img/fundacion.png"
      alt="fundacion" />
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="bg-bright-gray border border-secondary rounded p-3 mb-4">
        <app-alert
          [show]="showAlert"
          [type]="alertType"
          [message]="alertMessage"
          [dismissible]="true"></app-alert>
        <h3 class="text-independence text-center">Pre - Registro de Acceso</h3>
        <form [formGroup]="signupForm">
          <div class="mb-3">
            <div class="input-group has-validation">
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="RFC"
                formControlName="name"
                [class.is-invalid]="
                  f['name'].invalid && (f['name'].dirty || f['name'].touched)
                "
                (input)="validateRFC($event, f['name'])" />
              <button
                class="btn btn-secondary"
                type="button"
                [disabled]="f['name'].invalid"
                (click)="validateRFCExists(f['name'].value)">
                Validar existencia
              </button>
              <div class="invalid-feedback">
                <app-form-error [control]="f['name']"></app-form-error>
              </div>
            </div>
            <div class="small">- Registro Federal de Contribuyentes</div>
            <p *ngIf="rfcValidated$ | async" class="mt-2">
              <ngb-alert
                *ngIf="rfcValidatedExists$ | async"
                type="warning"
                [dismissible]="false">
                El RFC <strong>{{ f['name'].value }}</strong> ya existe, ¿Desea
                crear una organización de múltiples sedes/delegaciones?
                <br />
                <button class="btn btn-primary mt-2">Aceptar</button>
              </ngb-alert>
              <ngb-alert
                *ngIf="(rfcValidatedExists$ | async) === false"
                type="success"
                [dismissible]="false">
                El RFC no se encuentra registrado
              </ngb-alert>
            </p>
          </div>
          <div class="mb-3">
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Correo electrónico"
              formControlName="email"
              [class.is-invalid]="f['email'].invalid && f['email'].touched" />
            <div
              class="invalid-feedback"
              *ngIf="f['email'].invalid && f['email'].touched">
              Correo no valido
            </div>
            <div class="small">- El correo electronico de la organización</div>
          </div>
          <div class="mb-3">
            <div class="input-group has-validation">
              <input
                [type]="passwordFieldType"
                class="form-control"
                id="password"
                placeholder="Contraseña"
                formControlName="password"
                [class.is-invalid]="
                  f['password'].invalid && f['password'].touched
                "
                aria-describedby="button-addon2" />

              <button
                class="btn btn-secondary"
                type="button"
                (click)="showHidePassword(1)">
                <img
                  height="20"
                  [src]="'/assets/icons/' + passwordButonnIcon + '.png'"
                  alt="lock" />
              </button>

              <button
                type="button"
                class="btn btn-default"
                data-bs-toggle="tooltip"
                data-bs-placement="left"
                data-bs-html="true"
                title="<p class='text-start'>La contraseña debe contener: <br /><br />- Mínimo 8 caracteres alfanuméricos<br /> - Al menos una letra mayúscula</p>"
                id="button-addon2">
                <span class="badge rounded-pill bg-dark">?</span>
              </button>
            </div>
            <div
              class="text-danger small"
              *ngIf="f['password'].invalid && f['password'].touched">
              Contraseña no válida
            </div>

            <div class="small">- Asigna una contraseña a tu cuenta</div>
          </div>
          <div class="mb-3">
            <div class="input-group has-validation">
              <input
                [type]="confirmPasswordFieldType"
                class="form-control"
                id="confirmPassword"
                placeholder="Confirma tu contraseña"
                formControlName="confirmPassword"
                [class.is-invalid]="passwordMatchError" />
              <button
                class="btn btn-secondary"
                type="button"
                (click)="showHidePassword(2)">
                <img
                  height="20"
                  [src]="'/assets/icons/' + confirmPasswordButonnIcon + '.png'"
                  alt="lock" />
              </button>
              <div *ngIf="passwordMatchError" class="invalid-feedback">
                Las contraseñas no coinciden
              </div>
            </div>
            <div class="small">- Vuelva a repetir la contraseña</div>
          </div>

          <div class="my-5 small">
            <h6 class="text-uppercase">nota importante:</h6>
            <p>
              Para participar en nuestras convocatorias será importante contar
              con un USUARIO y CONTRASEÑA que te enviaremos al correo
              electrónico que nos estás brindando.
            </p>
            <p>
              Favor de consultar tu bandeja de correo y acceder a la página de
              acceso:
              <a
                href="https://convocatoriafundacion.deacero.com"
                target="_blank"
                rel="noopener noreferrer"
                >https://convocatoriafundacion.deacero.com</a
              >
            </p>
          </div>
          <div class="d-grid gap-2">
            <button
              class="btn btn-primary"
              type="button"
              [disabled]="signupForm.invalid"
              (click)="signup()">
              Enviar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
