<div class="container">
  <div class="d-flex flex-column align-items-center">
    <img
      class="img-fluid center-block my-3"
      style="max-width: 378px"
      src="/assets/img/fundacion.png"
      alt="fundacion" />
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div
        class="text-center bg-bright-gray border border-secondary rounded p-3 mb-4">
        <h4 [ngClass]="textClass">{{ title }}</h4>
        {{ message }}
        <br />
        <button class="btn btn-primary mt-3" routerLink="/">
          Ir al inicio
        </button>
      </div>
    </div>
  </div>
</div>
