<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="bg-bright-gray border border-secondary rounded p-3 mb-4">
        <app-alert
          *ngIf="showAlert"
          [type]="alertType"
          [message]="alertMessage"
          (close)="showAlert = false"
        ></app-alert>
        <h3>Actualizacion OSC</h3>
        <form [formGroup]="form">
          <div class="col-12 col-md-6">
            <div class="mb-3">
              <label for="name" class="form-label">Nombre OSC</label>
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Nombre OSC"
                formControlName="name"
                [class.is-invalid]="f['name'].invalid && f['name'].touched"
              />
              <div
                class="invalid-feedback"
                *ngIf="f['name'].invalid && f['name'].touched"
              >
                Campo obligatorio
              </div>
            </div>
            <button
              class="btn btn-primary"
              type="button"
              [disabled]="form.invalid"
              (click)="update()"
            >
              Enviar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
