<div
  [ngClass]="{
    'bg-bright-gray border border-secondary rounded p-3 mb-4': !loading
  }">
  <app-alert
    [(show)]="showAlert"
    [type]="alertType"
    [message]="alertMessage"
    [dismissible]="true"></app-alert>
  <form [formGroup]="form" *ngIf="!loading">
    <app-general-data-form
      [updateParentModel]="updateData"
      [defaultValues]="{
        tradename: formData.generalData?.tradename,
        businessname: formData.generalData?.businessname,
        rfc: formData.generalData?.rfc,
        phone: formData.generalData?.phone,
        emails: formData.generalData?.emails,
        position: formData.generalData?.position,
        comment: ''
      }"></app-general-data-form>
    <hr />
    <app-fund-manager-form
      [updateParentModel]="updateData"
      [defaultValues]="{
        name: formData.fundManager?.name,
        responsibleEmail: formData.fundManager?.responsibleEmail,
        cellphone: formData.fundManager?.cellphone,
        comment: ''
      }"></app-fund-manager-form>
    <hr />
    <app-organizational-information-form
      [updateParentModel]="updateData"
      [defaultValues]="{
        founder: formData.organizationalInformation?.founder,
        generalManagement:
          formData.organizationalInformation?.generalManagement,
        operationalManagement:
          formData.organizationalInformation?.operationalManagement,
        legalRepresentative:
          formData.organizationalInformation?.legalRepresentative,
        legalRepresentativeEmail:
          formData.organizationalInformation?.legalRepresentativeEmail,
        operationsStartDate:
          formData.organizationalInformation?.operationsStartDate,
        incorporationsStartDate:
          formData.organizationalInformation?.incorporationsStartDate,
        mission: formData.organizationalInformation?.mission,
        vision: formData.organizationalInformation?.vision,
        ethicalValues: formData.organizationalInformation?.ethicalValues,
        comment: ''
      }"></app-organizational-information-form>
    <hr />
    <app-strategic-alliances-form
      [updateParentModel]="updateData"
      [defaultValues]="{
        alliances: formData.strategicAlliances?.alliances,
        courses: formData.strategicAlliances?.courses,
        issuesToStrengthen: formData.strategicAlliances?.issuesToStrengthen,
        whichTopics: formData.strategicAlliances?.whichTopics,
        previousDonations: formData.strategicAlliances?.previousDonations,
        strategicalAlliances: formData.strategicAlliances?.strategicalAlliances,
        comment: '',
        products: formData.strategicAlliances?.products,
        donations: formData.strategicAlliances?.donations
      }"></app-strategic-alliances-form>
    <hr />
    <h2>Trabajo digno</h2>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <label for="whyYourOSC" class="form-label"
            >¿Por qué las personas quieren trabajar en tu OSC?
          </label>
          <textarea
            rows="3"
            class="form-control"
            id="whyYourOSC"
            formControlName="whyYourOSC"
            [class.is-invalid]="
              f['whyYourOSC'].invalid && f['whyYourOSC'].touched
            "></textarea>
          <app-form-error [control]="f['whyYourOSC']"></app-form-error>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <label for="whatMakesYouDifferent" class="form-label"
            >¿Qué te hace diferente de quienes ofrecen una propuesta de valor
            similar a la tuya?
          </label>
          <textarea
            rows="3"
            class="form-control"
            id="whatMakesYouDifferent"
            formControlName="whatMakesYouDifferent"
            [class.is-invalid]="
              f['whatMakesYouDifferent'].invalid &&
              f['whatMakesYouDifferent'].touched
            "></textarea>
          <app-form-error
            [control]="f['whatMakesYouDifferent']"></app-form-error>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <label for="benefitsSystem" class="form-label"
            >Describe el sistema de prestaciones y compensaciones para todo el
            personal.
          </label>
          <textarea
            rows="3"
            class="form-control"
            id="benefitsSystem"
            formControlName="benefitsSystem"
            [class.is-invalid]="
              f['benefitsSystem'].invalid && f['benefitsSystem'].touched
            "></textarea>
          <app-form-error [control]="f['benefitsSystem']"></app-form-error>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <label for="personalGrowth" class="form-label"
            >¿Cuáles opciones de crecimiento personal ofreces a tus
            colaboradores?
          </label>
          <textarea
            id="personalGrowth"
            rows="3"
            class="form-control"
            formControlName="personalGrowth"
            [class.is-invalid]="
              f['personalGrowth'].invalid && f['personalGrowth'].touched
            "></textarea>
          <app-form-error [control]="f['personalGrowth']"></app-form-error>
        </div>
      </div>
    </div>

    <button
      class="btn btn-primary"
      type="button"
      [disabled]="isInvalidForm || (infoSaved$ | async)"
      (click)="update()">
      Guardar
    </button>
  </form>
</div>
