<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="bg-bright-gray border border-secondary rounded p-3 mb-4">
        <app-alert
          *ngIf="showAlert"
          [type]="alertType"
          [message]="alertMessage"
          (close)="showAlert = false"
        ></app-alert>
        <form [formGroup]="form">
          <h2>Datos generales</h2>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="mb-3">
                <label for="tradename" class="form-label"
                  >Nombre comercial</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="tradename"
                  placeholder="Nombre comercial"
                  formControlName="tradename"
                  [class.is-invalid]="
                    f['tradename'].invalid && f['tradename'].touched
                  "
                />
                <app-form-error [control]="f['tradename']"></app-form-error>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="mb-3">
                <label for="businessname" class="form-label"
                  >Razón social</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="businessname"
                  placeholder="Razón social"
                  formControlName="businessname"
                  [class.is-invalid]="
                    f['businessname'].invalid && f['businessname'].touched
                  "
                />
                <app-form-error [control]="f['businessname']"></app-form-error>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="mb-3">
                <label for="rfc" class="form-label">RFC</label>
                <input
                  type="text"
                  class="form-control"
                  id="rfc"
                  placeholder="RFC"
                  formControlName="rfc"
                  [class.is-invalid]="f['rfc'].invalid && f['rfc'].touched"
                />
                <app-form-error [control]="f['rfc']"></app-form-error>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <label for="tradename" class="form-label">Teléfono</label>
                <input
                  type="text"
                  class="form-control"
                  id="phone"
                  placeholder="Teléfono"
                  formControlName="phone"
                  [class.is-invalid]="f['phone'].invalid && f['phone'].touched"
                />
                <app-form-error
                  [control]="f['phone']"
                  [errors]="{
                    pattern: 'Solo debe ingresar números',
                    maxLength: 'Máximo 12 caracteres'
                  }"
                ></app-form-error>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <label for="emails" class="form-label">Correo(s)</label>
                <input
                  type="text"
                  class="form-control"
                  id="emails"
                  placeholder="Usa ; ó , para separar los correos electrónicos"
                  formControlName="emails"
                  [class.is-invalid]="
                    f['emails'].invalid && f['emails'].touched
                  "
                />
                <app-form-error
                  [control]="f['emails']"
                  [errors]="{ pattern: 'Correos no válidos' }"
                ></app-form-error>
              </div>
            </div>
          </div>
          <hr />
          <h2>Datos del responsable de procuración de fondos</h2>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Nombre"
                  formControlName="name"
                  [class.is-invalid]="f['name'].invalid && f['name'].touched"
                />
                <app-form-error [control]="f['name']"></app-form-error>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="mb-3">
                <label for="name" class="form-label"
                  >Correo del responsable</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="responsibleEmail"
                  placeholder="Usa ; ó , para separar los correos electrónicos"
                  formControlName="responsibleEmail"
                  [class.is-invalid]="
                    f['responsibleEmail'].invalid &&
                    f['responsibleEmail'].touched
                  "
                />
                <app-form-error
                  [control]="f['responsibleEmail']"
                  [errors]="{ pattern: 'Correos no válidos' }"
                ></app-form-error>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="mb-3">
                <label for="tradename" class="form-label">Celular</label>
                <input
                  type="text"
                  class="form-control"
                  id="cellphone"
                  placeholder="Celular"
                  formControlName="cellphone"
                  [class.is-invalid]="
                    f['cellphone'].invalid && f['cellphone'].touched
                  "
                />
                <app-form-error
                  [control]="f['cellphone']"
                  [errors]="{
                    pattern: 'Solo debe ingresar números',
                    maxLength: 'Máximo 12 caracteres'
                  }"
                ></app-form-error>
              </div>
            </div>
          </div>

          <!-- <button
            class="btn btn-primary"
            type="button"
            [disabled]="form.invalid"
            (click)="update()"
          >
            Enviar
          </button> -->
        </form>
      </div>
    </div>
  </div>
</div>

