<div class="bg-bright-gray border border-secondary rounded p-3 mb-4">
  <h2 class="mb-3">Multisedes</h2>
  <div class="d-flex flex-column flex-md-row justify-content-between">
    <form>
      <div class="mb-3 row">
        <label
          for="table-filtering-search"
          class="col-xs-3 col-sm-auto col-form-label"
          >Filtrar:</label
        >
        <div class="col-xs-3 col-sm-auto">
          <input
            id="table-filtering-search"
            class="form-control"
            type="text"
            [formControl]="filter" />
        </div>
      </div>
    </form>
  </div>
  <div class="d-none d-lg-flex">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">RFC</th>
          <th scope="col">Razón social de la OSC</th>
          <th scope="col">Nombre de la sede</th>
          <th scope="col">Usuario</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let site of sites$ | async; index as i">
          <td>
            <ngb-highlight
              [result]="site.rfc"
              [term]="filter.value"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight
              [result]="site.businessName"
              [term]="filter.value"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight
              [result]="site.siteName"
              [term]="filter.value"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight
              [result]="site.user"
              [term]="filter.value"></ngb-highlight>
          </td>
          <td>boton</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
