<div
  class="flex-column flex-shrink-0 p-3 text-white bg-dark sidebar"
  [ngClass]="{ 'd-flex': show }">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        routerLink="/home"
        class="nav-link"
        routerLinkActive="active"
        aria-current="page">
        Información de OSC
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/calls"
        class="nav-link"
        routerLinkActive="active"
        aria-current="page">
        Aplicación a convocatoria
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/call-alerts"
        class="nav-link"
        routerLinkActive="active"
        aria-current="page">
        Aplicación a convocatoria alertas
      </a>
    </li>
  </ul>
  <hr />
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
      id="dropdownUser1"
      data-bs-toggle="dropdown"
      aria-expanded="false">
      <img
        src="https://github.com/mdo.png"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2" />
      <strong>Usuario</strong>
    </a>
    <ul
      class="dropdown-menu dropdown-menu-dark text-small shadow"
      aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" routerLink="/auth">Cerrar sesión</a></li>
    </ul>
  </div>
</div>
