<div
  class="flex-column flex-shrink-0 p-3 text-white bg-dark sidebar"
  [ngClass]="{ 'd-flex': show }">
  <ul class="nav nav-pills flex-column mb-auto">
    <ng-container *ngIf="isAdmin | async; then isAdminTmp; else noAdmin">
    </ng-container>
    <ng-template #isAdminTmp>
      <li class="nav-item">
        <a
          routerLink="/user-management"
          class="nav-link"
          routerLinkActive="active"
          aria-current="page">
          Gestión de usuarios
        </a>
      </li>
      <li class="nav-item">
        <a
          routerLink="/call-management"
          class="nav-link"
          routerLinkActive="active"
          aria-current="page">
          Gestión de convocatorias
        </a>
      </li>
      <li class="nav-item">
        <a
          routerLink="/multisite-management"
          class="nav-link"
          routerLinkActive="active"
          aria-current="page">
          Gestión de OSC multisede
        </a>
      </li>
      <li class="nav-item">
        <a
          routerLink="/requests"
          class="nav-link"
          routerLinkActive="active"
          aria-current="page">
          Solicitudes
        </a>
      </li>
    </ng-template>
    <ng-template #noAdmin>
      <li class="nav-item">
        <a
          routerLink="/home"
          class="nav-link"
          routerLinkActive="active"
          aria-current="page">
          Información de OSC
        </a>
      </li>
      <li class="nav-item">
        <a
          routerLink="/calls"
          class="nav-link"
          routerLinkActive="active"
          aria-current="page">
          Aplicación a convocatoria
        </a>
      </li>
      <li *ngIf="showAdministrationOption" class="nav-item">
        <a
          routerLink="/call-alerts"
          class="nav-link"
          routerLinkActive="active"
          aria-current="page">
          Corrección de solicitud
        </a>
      </li>
    </ng-template>
  </ul>
  <hr />
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
      id="dropdownUser1"
      data-bs-toggle="dropdown"
      aria-expanded="false">
      <img
        src="assets/icons/user.png"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2" />
      <strong>Usuario</strong>
    </a>
    <ul
      class="dropdown-menu dropdown-menu-dark text-small shadow"
      aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" routerLink="/auth">Cerrar sesión</a></li>
    </ul>
  </div>
</div>
