<div class="d-none d-md-flex">
  <table class="table table-light table-bordered">
    <thead>
      <tr>
        <th scope="col">Actividad</th>
        <th scope="col">Monto</th>
        <th scope="col">Tipo de gasto</th>
        <th scope="col" style="width: 100px">*</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let record of records">
        <td>{{ record.activity }}</td>
        <td>{{ record.amount | currency : 'MXN' }}</td>
        <td>{{ record.expenseType }}</td>
        <td>
          <ng-container *ngIf="!isEditMode && !readOnly">
            <button
              class="btn btn-secondary p-1 me-2"
              (click)="loadRecordInFields(record.id, modal)">
              <img height="18" src="/assets/icons/edit.png" alt="edit" />
            </button>
            <button
              class="btn btn-secondary p-1"
              (click)="removeRecord(record.id)">
              <img height="18" src="/assets/icons/trash.png" alt="trash" />
            </button>
          </ng-container>
        </td>
      </tr>
      <tr *ngIf="!readOnly">
        <td colspan="6">
          <button class="btn btn-primary" (click)="open(modal)">
            Agregar registro
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="d-flex d-md-none">
  <table class="table table-light table-bordered">
    <tbody>
      <ng-container *ngFor="let record of records">
        <tr>
          <td>{{ record.activity }}</td>
        </tr>
        <tr>
          <td>{{ record.amount | currency : 'MXN' }}</td>
        </tr>
        <tr>
          <td>{{ record.expenseType }}</td>
        </tr>
        <tr>
          <td>
            <ng-container *ngIf="!isEditMode && !readOnly">
              <button
                class="btn btn-secondary p-1 me-2"
                (click)="loadRecordInFields(record.id, modal)">
                <img height="18" src="/assets/icons/edit.png" alt="edit" />
              </button>
              <button
                class="btn btn-secondary p-1"
                (click)="removeRecord(record.id)">
                <img height="18" src="/assets/icons/trash.png" alt="trash" />
              </button>
            </ng-container>
          </td>
        </tr>
        <tr style="height: 10px" class="bg-gray"></tr>
      </ng-container>
      <tr *ngIf="!readOnly">
        <td colspan="6">
          <button class="btn btn-primary" (click)="open(modal)">
            Agregar registro
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Registro</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" class="px-4">
      <div class="col-12 mb-4">
        <label for="activity" class="form-label">Actividad</label>
        <input
          type="text"
          class="form-control"
          id="activity"
          placeholder="Actividad"
          formControlName="activity"
          [class.is-invalid]="f['activity'].invalid && f['activity'].touched" />
        <app-form-error [control]="f['activity']"></app-form-error>
      </div>
      <div class="col-12 mb-4">
        <label for="amount" class="form-label">Monto</label>
        <input
          type="text"
          class="form-control"
          id="amount"
          placeholder="Monto"
          formControlName="amount"
          mask="separator.2"
          thousandSeparator=","
          prefix="MX$ "
          [class.is-invalid]="f['amount'].invalid && f['amount'].touched" />
        <app-form-error [control]="f['amount']"></app-form-error>
      </div>
      <div class="col-12 mb-4">
        <label class="form-label" for="expenseType">Tipo de gasto</label>
        <select
          class="form-select"
          formControlName="expenseType"
          id="expenseType"
          [class.is-invalid]="
            f['expenseType'].invalid && f['expenseType'].touched
          ">
          <option selected value="">Click para seleccionar</option>
          <option value="Construcción y equipamiento">
            Construcción y equipamiento
          </option>
          <option value="Insumos y materiales">Insumos y materiales</option>
          <option value="Remuneración personal">Remuneración personal</option>
          <option value="Gastos operativos">Gastos operativos</option>
          <option value="Gastos del objeto social">
            Gastos del objeto social
          </option>
        </select>
        <app-form-error [control]="f['expenseType']"></app-form-error>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-secondary me-2"
      (click)="cancelEdit(); modal.close()">
      Cancelar
    </button>
    <ng-container *ngIf="isEditMode; else save">
      <button
        class="btn btn-primary"
        (click)="editRecord(); modal.close()"
        [disabled]="form.invalid">
        Editar
      </button>
    </ng-container>
    <ng-template #save>
      <button
        *ngIf="!isEditMode"
        class="btn btn-primary"
        (click)="addRecord(); modal.close()"
        [disabled]="form.invalid">
        Guardar
      </button>
    </ng-template>
  </div>
</ng-template>
