<div class="bg-bright-gray border border-secondary rounded p-3 mb-4">
  <form [formGroup]="form">
    <h2 class="mb-3">Órgano de gobierno</h2>
    <div class="row">
      <div class="col-12">
        <app-members (recordsList)="members = $event"></app-members>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <label for="meetings" class="form-label"
            >Número de reuniones al año</label
          >
          <input
            type="text"
            class="form-control"
            id="meetings"
            placeholder="Número de reuniones al año"
            formControlName="meetings"
            [class.is-invalid]="f['meetings'].invalid && f['meetings'].touched"
          />
          <app-form-error
            [control]="f['meetings']"
            [errors]="{
              pattern: 'Solo debe ingresar números'
            }"
          ></app-form-error>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <label for="renewalFrequency" class="form-label"
            >Frecuencia de renovación de consejos (años)</label
          >
          <input
            type="text"
            class="form-control"
            id="renewalFrequency"
            placeholder="Frecuencia de renovación de consejos (años)"
            formControlName="renewalFrequency"
            [class.is-invalid]="
              f['renewalFrequency'].invalid && f['renewalFrequency'].touched
            "
          />
          <app-form-error
            [control]="f['renewalFrequency']"
            [errors]="{
              pattern: 'Solo debe ingresar números'
            }"
          ></app-form-error>
        </div>
      </div>
    </div>
    <hr />
    <h2 class="mb-3">Remuneraciones</h2>
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <div class="d-flex align-items-center">
            <p class="m-0 me-3">¿Se remunera el trabajo en su organización?</p>
            <div class="toggleWrapper">
              <input
                type="checkbox"
                name="toggle1"
                class="mobileToggle"
                id="toggle1"
                formControlName="remunerationQuestion"
              />
              <label for="toggle1" class="cursor-pointer"></label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <app-remuneration-table
          *ngIf="f['remunerationQuestion'].value"
          (onChange)="remunerations = $event"
        ></app-remuneration-table>
      </div>
    </div>
    <hr />
    <h2 class="mb-3">Datos generales del proyecto</h2>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <label for="projectName" class="form-label"
            >Nombre del proyecto</label
          >
          <input
            type="text"
            class="form-control"
            id="projectName"
            placeholder="Nombre del proyecto"
            formControlName="projectName"
            [class.is-invalid]="
              f['projectName'].invalid && f['projectName'].touched
            "
          />
          <app-form-error [control]="f['projectName']"></app-form-error>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="category" class="form-label">Categoría</label>
        <ng-select #category labelForId="category" formControlName="category">
          <ng-option value="">Click para seleccionar</ng-option>
          <ng-option value="1">Alimentación</ng-option>
          <ng-option value="2">Asistencia jurídica</ng-option>
          <ng-option value="3">Asistencia o rehabilitación médica</ng-option>
          <ng-option value="4"
            >Atención a grupos sociales con discapacidad</ng-option
          >
          <ng-option value="5">Becas</ng-option>
          <ng-option value="6">Defensa y promoción de los DH</ng-option>
          <ng-option value="7">Desarrollo comunidades indígenas.</ng-option>
          <ng-option value="8">Desarrollo Institucional</ng-option>
          <ng-option value="9">Desarrollo urbano</ng-option>
          <ng-option value="10"
            >Detonación de oportunidades para la resiliencia
            económica.</ng-option
          >
          <ng-option value="11">Ecología</ng-option>
          <ng-option value="12">Educación</ng-option>
          <ng-option value="13">Empoderamiento social</ng-option>
          <ng-option value="14">Equipamiento</ng-option>
          <ng-option value="15">Fomento educativo</ng-option>
          <ng-option value="16">Inclusión</ng-option>
          <ng-option value="17">Infraestructura</ng-option>
          <ng-option value="18">Medio ambiente</ng-option>
          <ng-option value="19">Nutrición</ng-option>
          <ng-option value="20">Óptimo desarrollo infantil.</ng-option>
          <ng-option value="21">Orientación social</ng-option>
          <ng-option value="22">Participación ciudadana.</ng-option>
          <ng-option value="23">Promoción y difusión cultural</ng-option>
          <ng-option value="24">Reinserción social</ng-option>
          <ng-option value="25">Salud mental.</ng-option>
        </ng-select>
        <app-form-error [control]="f['category']"></app-form-error>
      </div>
    </div>
    <hr />
    <h2 class="mb-3">Ubicación, ¿Dónde se llevará a cabo?</h2>
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <div class="d-flex align-items-center">
            <p class="m-0 me-3">¿La ubicación es virtual?</p>
            <div class="toggleWrapper">
              <input
                type="checkbox"
                name="locationQuestion"
                class="mobileToggle"
                id="locationQuestion"
                formControlName="locationQuestion"
              />
              <label for="locationQuestion" class="cursor-pointer"></label>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="f['locationQuestion'].value">
        <div class="col-12 col-md-4">
          <div class="mb-3">
            <label for="street" class="form-label">Calle y número</label>
            <input
              type="text"
              class="form-control"
              id="street"
              placeholder="Calle y número"
              formControlName="street"
              [class.is-invalid]="f['street'].invalid && f['street'].touched"
            />
            <app-form-error [control]="f['street']"></app-form-error>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="mb-3">
            <label for="colony" class="form-label">Colonia</label>
            <input
              type="text"
              class="form-control"
              id="colony"
              placeholder="Colonia"
              formControlName="colony"
              [class.is-invalid]="f['colony'].invalid && f['colony'].touched"
            />
            <app-form-error [control]="f['colony']"></app-form-error>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="mb-3">
            <label for="town" class="form-label">Municipio</label>
            <input
              type="text"
              class="form-control"
              id="town"
              placeholder="Municipio"
              formControlName="town"
              [class.is-invalid]="f['town'].invalid && f['town'].touched"
            />
            <app-form-error [control]="f['town']"></app-form-error>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="mb-3">
            <label for="state" class="form-label">Estado</label>
            <input
              type="text"
              class="form-control"
              id="state"
              placeholder="Estado"
              formControlName="state"
              [class.is-invalid]="f['state'].invalid && f['state'].touched"
            />
            <app-form-error [control]="f['state']"></app-form-error>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="mb-3">
            <label for="postalCode" class="form-label">Código postal</label>
            <input
              type="text"
              class="form-control"
              id="postalCode"
              placeholder="Código postal"
              formControlName="postalCode"
              [class.is-invalid]="
                f['postalCode'].invalid && f['postalCode'].touched
              "
            />
            <app-form-error [control]="f['postalCode']"></app-form-error>
          </div>
        </div>
      </ng-container>
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <label for="video" class="form-label"
            >Ubicación del proyecto en Google Maps</label
          >
          <input
            type="text"
            class="form-control"
            id="video"
            placeholder="URL del video"
            formControlName="video"
            [class.is-invalid]="f['video'].invalid && f['video'].touched"
          />
          <app-form-error [control]="f['video']"></app-form-error>
          <div class="small">
            Ingresa aquí la ubicación de tu proyecto en Google Maps.
            <a href="http://" target="_blank" rel="noopener noreferrer"
              >Ver video</a
            >
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <label for="daysAndHours" class="form-label"
            >Días y horas de atención</label
          >
          <textarea
            class="form-control"
            id="daysAndHours"
            rows="3"
            formControlName="daysAndHours"
            [class.is-invalid]="
              f['daysAndHours'].invalid && f['daysAndHours'].touched
            "
          ></textarea>
          <app-form-error [control]="f['daysAndHours']"></app-form-error>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <label for="aboutCall" class="form-label"
            >¿Cómo te enteraste de la convocatoria?
          </label>
          <select
            class="form-select"
            formControlName="aboutCall"
            [class.is-invalid]="
              f['aboutCall'].invalid && f['aboutCall'].touched
            "
          >
            <option value="" selected>Click para seleccionar</option>
            <option value="1">Amigo/a</option>
            <option value="2">Facebook/Instagram</option>
            <option value="3">Otro</option>
            <option value="4">Página web</option>
            <option value="5">Whatsapp</option>
          </select>
          <app-form-error [control]="f['aboutCall']"></app-form-error>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div *ngIf="f['aboutCall'].value == '3'" class="mb-3">
          <label for="whichMedia" class="form-label">¿Cuál medio?</label>
          <input
            type="text"
            class="form-control"
            id="whichMedia"
            placeholder="¿Cuál medio?"
            formControlName="whichMedia"
            [class.is-invalid]="
              f['whichMedia'].invalid && f['whichMedia'].touched
            "
          />
          <app-form-error [control]="f['whichMedia']"></app-form-error>
        </div>
      </div>
    </div>
    <hr />

    <h2 class="mb-3">Responsable del proyecto</h2>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="mb-3">
          <label for="responsibleName" class="form-label"
            >Nombre del responsable</label
          >
          <input
            type="text"
            class="form-control"
            id="responsibleName"
            placeholder="Nombre"
            formControlName="responsibleName"
            [class.is-invalid]="
              f['responsibleName'].invalid && f['responsibleName'].touched
            "
          />
          <app-form-error [control]="f['responsibleName']"></app-form-error>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="mb-3">
          <label for="emails" class="form-label"
            >Email del responsable del proyecto</label
          >
          <input
            type="text"
            class="form-control"
            id="emails"
            placeholder="Usa ; ó , para separar los correos electrónicos"
            formControlName="emails"
            [class.is-invalid]="f['emails'].invalid && f['emails'].touched"
          />
          <app-form-error
            [control]="f['emails']"
            [errors]="{ pattern: 'Correos no válidos' }"
          ></app-form-error>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="mb-3">
          <label for="phone" class="form-label"
            >Celular del responsable del proyecto</label
          >
          <input
            type="text"
            class="form-control"
            id="phone"
            placeholder="Celular"
            formControlName="phone"
            [class.is-invalid]="f['phone'].invalid && f['phone'].touched"
          />
          <app-form-error
            [control]="f['phone']"
            [errors]="{
              pattern: 'Solo debe ingresar números',
              maxLength: 'Máximo 12 caracteres'
            }"
          ></app-form-error>
        </div>
      </div>
    </div>
    <hr />
    <h2 class="mb-3">Desarrollo del proyecto</h2>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="mb-3">
          <label for="whichProblem" class="form-label"
            >¿Cuál es el problema social en el que se intervendrá?</label
          >
          <textarea
            class="form-control"
            id="whichProblem"
            rows="3"
            formControlName="whichProblem"
            [class.is-invalid]="
              f['whichProblem'].invalid && f['whichProblem'].touched
            "
          ></textarea>
          <app-form-error [control]="f['whichProblem']"></app-form-error>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="mb-3">
          <label for="generalObjective" class="form-label"
            >Describe brevemente el objetivo general del proyecto</label
          >
          <textarea
            class="form-control"
            id="generalObjective"
            rows="3"
            formControlName="generalObjective"
            [class.is-invalid]="
              f['generalObjective'].invalid && f['generalObjective'].touched
            "
          ></textarea>
          <app-form-error [control]="f['generalObjective']"></app-form-error>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="mb-3">
          <label for="numberOfBeneficiaries" class="form-label"
            >Número de beneficiarios directos que se estima atender</label
          >
          <textarea
            class="form-control"
            id="numberOfBeneficiaries"
            rows="3"
            formControlName="numberOfBeneficiaries"
            [class.is-invalid]="
              f['numberOfBeneficiaries'].invalid &&
              f['numberOfBeneficiaries'].touched
            "
          ></textarea>
          <app-form-error
            [control]="f['numberOfBeneficiaries']"
          ></app-form-error>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <div class="d-flex align-items-center">
            <p class="m-0 me-3">
              ¿El proyecto postulado es en colaboración con otras
              organizaciones?
            </p>
            <div class="toggleWrapper">
              <input
                type="checkbox"
                name="collaborationWithOtherOrganizations"
                class="mobileToggle"
                id="collaborationWithOtherOrganizations"
                formControlName="collaborationWithOtherOrganizations"
              />
              <label
                for="collaborationWithOtherOrganizations"
                class="cursor-pointer"
              ></label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <label for="collaboratorsAnswer" class="form-label"
            >Si es así ¿cuáles? y sino ¿por qué?</label
          >
          <textarea
            class="form-control"
            id="collaboratorsAnswer"
            rows="3"
            formControlName="collaboratorsAnswer"
            [class.is-invalid]="
              f['collaboratorsAnswer'].invalid &&
              f['collaboratorsAnswer'].touched
            "
          ></textarea>
          <app-form-error [control]="f['collaboratorsAnswer']"></app-form-error>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="mb-3">
          <label for="populationsConditionsBefore" class="form-label"
            >¿Cuáles son las condiciones de la población antes de tu
            intervención?</label
          >
          <textarea
            class="form-control"
            id="populationsConditionsBefore"
            rows="3"
            formControlName="populationsConditionsBefore"
            [class.is-invalid]="
              f['populationsConditionsBefore'].invalid &&
              f['populationsConditionsBefore'].touched
            "
          ></textarea>
          <app-form-error
            [control]="f['populationsConditionsBefore']"
          ></app-form-error>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="mb-3">
          <label for="populationsConditionsAfter" class="form-label"
            >¿Cuáles son las condiciones de la población a las que se planea
            llegar después de la intervención?</label
          >
          <textarea
            class="form-control"
            id="populationsConditionsAfter"
            rows="3"
            formControlName="populationsConditionsAfter"
            [class.is-invalid]="
              f['populationsConditionsAfter'].invalid &&
              f['populationsConditionsAfter'].touched
            "
          ></textarea>
          <app-form-error
            [control]="f['populationsConditionsAfter']"
          ></app-form-error>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="mb-3">
          <label for="promoteSocialImprovement" class="form-label"
            >¿De qué manera su proyecto promueve el mejoramiento social?</label
          >
          <textarea
            class="form-control"
            id="promoteSocialImprovement"
            rows="3"
            formControlName="populationsConditionsAfter"
            [class.is-invalid]="
              f['promoteSocialImprovement'].invalid &&
              f['promoteSocialImprovement'].touched
            "
          ></textarea>
          <app-form-error
            [control]="f['promoteSocialImprovement']"
          ></app-form-error>
        </div>
      </div>
    </div>
    <hr />
    <h2 class="mb-3">
      Vigencia (Período durante el cual se hará uso del donativo)
    </h2>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <label for="startDate" class="form-label"
            >Fecha inicio</label
          >
          <input
            type="date"
            class="form-control"
            id="startDate"
            formControlName="startDate"
            [class.is-invalid]="
              f['startDate'].invalid &&
              f['startDate'].touched
            "
          />
          <app-form-error [control]="f['startDate']"></app-form-error>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <label for="endDate" class="form-label"
            >Fecha fin</label
          >
          <input
            type="date"
            class="form-control"
            id="endDate"
            formControlName="endDate"
            [class.is-invalid]="
              f['endDate'].invalid &&
              f['endDate'].touched
            "
            [min]="f['startDate'].value | date:'yyyy-MM-dd'"
          />
          <app-form-error [control]="f['endDate']"></app-form-error>
        </div>
      </div>
    </div>
    <h2 *ngIf="f['category'].value" class="mb-3">
      Con la implementación del proyecto, ¿Cual consideras que será el beneficio
      para la comunidad en...
    </h2>

    <ng-container *ngFor="let rate of rating">
      <ng-container *ngIf="groups.includes(rate.group)">
        <div class="border p-2 mb-3">
          <h6>
            {{ rate.title }}
          </h6>
          <div class="row">
            <ng-container *ngFor="let item of rate.items">
              <div class="col-md-1 my-3">
                <div class="d-flex flex-column align-items-center">
                  <label class="form-check-label" [for]="rate.group">{{
                    item
                  }}</label>
                  <input
                    class="form-check-input"
                    type="radio"
                    [name]="rate.group"
                    [id]="rate.group"
                    [value]="'0' + item"
                    [formControlName]="rate.group"
                  />
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <button
      class="btn btn-primary"
      type="button"
      [disabled]="form.invalid"
      (click)="save()"
    >
      Guardar
    </button>
  </form>
</div>
