<div class="bg-bright-gray border border-secondary rounded p-3 mb-4">
  <form [formGroup]="form">
    <h2 class="mb-3">Órgano de gobierno</h2>
    <div class="row">
      <div class="col-12">
        <app-members (recordsList)="members = $event"></app-members>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <label for="meetings" class="form-label"
            >Número de reuniones al año</label
          >
          <input
            type="text"
            class="form-control"
            id="meetings"
            placeholder="Número de reuniones al año"
            formControlName="meetings"
            [class.is-invalid]="f['meetings'].invalid && f['meetings'].touched"
          />
          <app-form-error
            [control]="f['meetings']"
            [errors]="{
              pattern: 'Solo debe ingresar números'
            }"
          ></app-form-error>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <label for="renewalFrequency" class="form-label"
            >Frecuencia de renovación de consejos (años)</label
          >
          <input
            type="text"
            class="form-control"
            id="renewalFrequency"
            placeholder="Frecuencia de renovación de consejos (años)"
            formControlName="renewalFrequency"
            [class.is-invalid]="
              f['renewalFrequency'].invalid && f['renewalFrequency'].touched
            "
          />
          <app-form-error
            [control]="f['renewalFrequency']"
            [errors]="{
              pattern: 'Solo debe ingresar números'
            }"
          ></app-form-error>
        </div>
      </div>
    </div>
    <hr />
    <h2 class="mb-3">Remuneraciones</h2>
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <div class="d-flex align-items-center">
            <p class="m-0 me-3">¿Se remunera el trabajo en su organización?</p>
            <div class="toggleWrapper">
              <input
                type="checkbox"
                name="toggle1"
                class="mobileToggle"
                id="toggle1"
                formControlName="remunerationQuestion"
              />
              <label for="toggle1" class="cursor-pointer"></label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <app-remuneration-table
          *ngIf="f['remunerationQuestion'].value"
          (onChange)="remunerations = $event"
        ></app-remuneration-table>
      </div>
    </div>
    <hr />
    <h2 class="mb-3">Datos generales del proyecto</h2>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <label for="projectName" class="form-label"
            >Nombre del proyecto</label
          >
          <input
            type="text"
            class="form-control"
            id="projectName"
            placeholder="Nombre del proyecto"
            formControlName="projectName"
            [class.is-invalid]="
              f['projectName'].invalid && f['projectName'].touched
            "
          />
          <app-form-error [control]="f['projectName']"></app-form-error>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="category" class="form-label">Categoría</label>
        <ng-select #category labelForId="category" formControlName="category">
          <ng-option value="">Click para seleccionar</ng-option>
          <ng-option value="1">Alimentación</ng-option>
          <ng-option value="2">Asistencia jurídica</ng-option>
          <ng-option value="3">Asistencia o rehabilitación médica</ng-option>
          <ng-option value="4"
            >Atención a grupos sociales con discapacidad</ng-option
          >
          <ng-option value="5">Becas</ng-option>
          <ng-option value="6">Defensa y promoción de los DH</ng-option>
          <ng-option value="7">Desarrollo comunidades indígenas.</ng-option>
          <ng-option value="8">Desarrollo Institucional</ng-option>
          <ng-option value="9">Desarrollo urbano</ng-option>
          <ng-option value="10"
            >Detonación de oportunidades para la resiliencia
            económica.</ng-option
          >
          <ng-option value="11">Ecología</ng-option>
          <ng-option value="12">Educación</ng-option>
          <ng-option value="13">Empoderamiento social</ng-option>
          <ng-option value="14">Equipamiento</ng-option>
          <ng-option value="15">Fomento educativo</ng-option>
          <ng-option value="16">Inclusión</ng-option>
          <ng-option value="17">Infraestructura</ng-option>
          <ng-option value="18">Medio ambiente</ng-option>
          <ng-option value="19">Nutrición</ng-option>
          <ng-option value="20">Óptimo desarrollo infantil.</ng-option>
          <ng-option value="21">Orientación social</ng-option>
          <ng-option value="22">Participación ciudadana.</ng-option>
          <ng-option value="23">Promoción y difusión cultural</ng-option>
          <ng-option value="24">Reinserción social</ng-option>
          <ng-option value="25">Salud mental.</ng-option>
        </ng-select>
        <app-form-error [control]="f['category']"></app-form-error>
      </div>
    </div>
    <h2 *ngIf="f['category'].value" class="mb-3">
      Con la implementación del proyecto, ¿Cual consideras que será el beneficio
      para la comunidad en...
    </h2>

    <ng-container *ngFor="let rate of rating">
      <ng-container *ngIf="groups.includes(rate.group)">
        <div class="border p-2 mb-3">
          <h6>
            {{ rate.title }}
          </h6>
          <div class="row">
            <ng-container *ngFor="let item of rate.items">
              <div class="col-md-1 my-3">
                <div class="d-flex flex-column align-items-center">
                  <label class="form-check-label" [for]="rate.group">{{
                    item
                  }}</label>
                  <input
                    class="form-check-input"
                    type="radio"
                    [name]="rate.group"
                    [id]="rate.group"
                    [value]="'0' + item"
                    [formControlName]="rate.group"
                  />
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <button
      class="btn btn-primary"
      type="button"
      [disabled]="form.invalid"
      (click)="save()"
    >
      Guardar
    </button>
  </form>
</div>
