<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="bg-bright-gray border border-secondary rounded p-3 my-5">
        <div class="container" *ngIf="announcementEnable">
          <h3 class="text-center">Informacion de la convocatoria</h3>
          <hr />
          <div class="row">
            <div class="col-6"><h5>Consecutivo</h5></div>
            <div class="col-6">{{ announcement.callId }}</div>
          </div>
          <div class="row">
            <div class="col-6"><h5>Año</h5></div>
            <div class="col-6">{{ announcement.year }}</div>
          </div>
          <div class="row">
            <div class="col-6"><h5>Fecha inicio</h5></div>
            <div class="col-6">
              {{ announcement.initDate | date : 'YYYY-MM-dd hh:mm:ss' }}
            </div>
          </div>
          <div class="row">
            <div class="col-6"><h5>Fecha fin</h5></div>
            <div class="col-6">
              {{ announcement.endDate | date : 'YYYY-MM-dd hh:mm:ss' }}
            </div>
          </div>
          <div class="row">
            <div class="col-6"><h5>Tipo</h5></div>
            <div class="col-6">{{ announcement.type }}</div>
          </div>
          <div class="row">
            <div class="col-6"><h5>Estado</h5></div>
            <div class="col-6">{{ announcement.status }}</div>
          </div>
          <div class="d-flex justify-content-center">
            <button
              type="button"
              class="btn btn-dark mt-3 me-2"
              routerLink="/auth/login">
              Salir
            </button>
            <button
              type="button"
              class="btn btn-primary mt-3"
              (click)="applyToAnnouncement()">
              Aplicar a convocatoria
            </button>
          </div>
        </div>
        <div *ngIf="!announcementEnable">
          <div class="d-flex flex-column align-items-center mb-5">
            <img
              class="img-fluid center-block"
              style="max-width: 378px"
              src="/assets/img/fundacion.png"
              alt="fundacion" />
          </div>
          <h4 class="text-center">No hay convocatorias activas</h4>
        </div>
      </div>
    </div>
  </div>
</div>
