<div class="container">
  <div class="d-flex flex-column align-items-center">
    <img
      class="img-fluid center-block my-3"
      style="max-width: 378px"
      src="/assets/img/fundacion.png"
      alt="fundacion" />
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="bg-bright-gray border border-secondary rounded p-3 mb-4">
        <hr
          class="bg-independence border-1 border-top border-independence w-100" />

        <form [formGroup]="callForm">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="acceptTerms"
              formControlName="acceptTerms" />
            <label class="form-check-label" for="acceptTerms">
              Acepto haber leído y estar de acuerdo con el
              <a
                href="https://www.fundaciondeacero.org/privacidad/"
                target="_blank"
                rel="noopener noreferrer"
                >Aviso de Privacidad</a
              >.
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="convocatoría"
              formControlName="convocatoría" />
            <label class="form-check-label" for="convocatoría">
              He leido y acepto las
              <a
                href="https://www.fundaciondeacero.org/convocatoria"
                target="_blank"
                rel="noopener noreferrer"
                >Bases de la convocatoría</a
              >.
            </label>
          </div>
          <div class="d-flex justify-content-center">
            <button
              type="button"
              class="btn btn-primary mt-3"
              routerLink="/auth/sign-up"
              [disabled]="callForm.invalid">
              Aceptar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
