<div class="d-flex">
  <div
    class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar"
    style="width: 280px"
  >
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a
          routerLink="/"
          class="nav-link"
          routerLinkActive="active"
          aria-current="page"
        >
          Home
        </a>
      </li>
    </ul>
    <hr />
    <div class="dropdown">
      <a
        href="#"
        class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
        id="dropdownUser1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="https://github.com/mdo.png"
          alt=""
          width="32"
          height="32"
          class="rounded-circle me-2"
        />
        <strong>Usuario</strong>
      </a>
      <ul
        class="dropdown-menu dropdown-menu-dark text-small shadow"
        aria-labelledby="dropdownUser1"
      >
        <!-- <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider" /></li> -->
        <li><a class="dropdown-item" routerLink="/">Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
  <div class="content p-4 w-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="bg-bright-gray border border-secondary rounded p-3 mb-4">
            <app-alert
              *ngIf="showAlert"
              [type]="alertType"
              [message]="alertMessage"
              (close)="showAlert = false"
            ></app-alert>
            <h3>Actualizacion OSC</h3>
            <form [formGroup]="form">
              <div class="col-12 col-md-6">
                <div class="mb-3">
                  <label for="name" class="form-label">Nombre OSC</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Nombre OSC"
                    formControlName="name"
                    [class.is-invalid]="f['name'].invalid && f['name'].touched"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="f['name'].invalid && f['name'].touched"
                  >
                    Campo obligatorio
                  </div>
                </div>
                <button
                  class="btn btn-primary"
                  type="button"
                  [disabled]="form.invalid"
                  (click)="update()"
                >
                  Enviar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
